<div>
    {{#if displayContainer}}
    <div>
        <label>{{localize 'SIMPLEFOG.brushSize'}}</label>
        <div class="flexrow">
            <input type="range" name="brushSize" value="{{ brushSize }}" min="10" max="500" step="10" data-action="brushSize">
            <span class="range-value">{{ brushSize }}px</span>
        </div>
    </div>
    {{/if}}
    <div>
        <label>{{localize 'SIMPLEFOG.brushOpacity'}}</label>
        <div class="brush-opacity">
            <div class="flexrow">
                <input type="range" name="brushOpacity" value="{{ brushOpacity }}" min="0" max="100" step="1" data-action="brushOpacity">
                <span class="range-value">{{ brushOpacity }}%</span>
            </div>
            <div class="visibility-labels flexrow">
                <a data-action="brushOpacityToggle" data-value="0">{{localize 'SIMPLEFOG.reveal'}}</a>
                <a data-action="brushOpacityToggle" data-value="100">{{localize 'SIMPLEFOG.hide'}}</a>
                <div class="range-value"></div>
            </div>
        </div>
    </div>
</div>